* {
  box-sizing: border-box;
}

body {
  background-color: #FFF8F3;
  margin: 0;
}

main {
  max-width: 800px;
  min-width: 75vw;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

.header {
  margin-top: 15px;
  background-color: #758694;
  height: 75px;
  line-height: 75px;
  text-align: right;
  padding-right: 10vw;
  border-top: 1px solid #0d161d;
  border-bottom: 1px solid #0d161d;

}

#nametag {
  margin-top: auto;
  margin-bottom: auto;
}

#avatar {
  float: right;
  width: 250px;
  display: inline ; 
  border-radius: 50%;
  border: 1px solid #0d161d;;
}

.sub-cat {
  text-align: right;
}

.nav {
  display: inline-block;
  line-height: 35px;
  margin-left: 5px;
  margin-top: 15px;
  grid-column: 1 / span 1;
  
}

.content {
  display: inline-block;
  padding: 20px;
  border-left: 2px solid #0d161d;
}

.nav > a {
  text-decoration: none;
  color: #0d161d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

.nav > a:hover {
  text-decoration: underline;
}

