* {
  box-sizing: border-box;
}

body {
  background-color: #FFF8F3;
  margin: 0;
}

main {
  max-width: 800px;
  min-width: 75vw;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

.header {
  margin-top: 15px;
  background-color: #758694;
  height: 75px;
  line-height: 75px;
  text-align: right;
  padding-right: 10vw;
}

#nametag {
  margin-top: auto;
  margin-bottom: auto;

}

.nav {
  display: inline-block;
  line-height: 25px;
  margin-left: 5px;
  margin-top: 15px;
  grid-column: 1 / span 1;
}

